body {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.header h2 {
    font-size: 16px;
    margin-top: 5px;
}

.header h2::before {
    content: "*";
    margin-right: 5px;
}

.container {
    width: 80%;
    margin: 20px auto;
    border-top: 3px dotted hsla(0, 0%, 0%, .15);
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .container {
        justify-content: center;
    }
}

.container__add {
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border: 2px dotted hsla(0, 0%, 0%, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.container__add span {
    display: block;
    text-align: center;

}

.container__add:hover {
    border: 2px dotted hsl(230, 50%, 50%);
    color: hsl(230, 50%, 50%);
}

.container__book {
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    background-color: hsla(0, 0%, 100%, .15);
    box-shadow: 0 4px 5px hsla(0, 0%, 0%, .1);
}

.container__book h3 {
    font-size: 24px;
    font-weight: 700;
    background-color: hsl(220, 40%, 60%);
    padding: 10px;
    color: hsla(0, 0%, 95%, 1);
    height: 48px;
}

.container__book span {
    display: block;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: hsl(220, 20%, 50%);
}

.container__book__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.container__book__buttons button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: hsl(220, 10%, 50%);
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    outline: none;
}

.container__book__buttons button:hover {
    color: hsl(0, 50%, 50%);
}

.container__book__buttons button.read {
    font-weight: bold;
    border: 2px solid hsl(120, 30%, 50%);
    color: hsl(120, 30%, 50%);
}

.container__book__buttons button.unread {
    font-weight: bold;
    border: 2px solid hsl(0, 30%, 50%);
    color: hsl(0, 30%, 50%);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: hsla(0, 0%, 0%, .7);
    z-index: 1;
}



.modal-content {
    position: relative; 
    margin: 15% auto;
    background-color: #fefefe;
    width: 400px;
    padding: 20px;
    text-align: center;
    animation-name: animate-top;
    animation-duration: 0.4s;
}

.modal-body {
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-body form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body label {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-body input {
    outline: none;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, .2);
}

.modal-body button {

    text-align: center;
    margin: auto auto;

    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}